<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AWBD Auction</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{'/product'}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/categories'}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/product/form'}">
                        <i class="fas fa-plus-circle"></i> Sell
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/participant/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Reserve price</th>
            <th>Best offer</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="product, stat : ${products}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${product.id}">1</td>
            <td th:text="${product.name}">Product 1</td>
            <td th:text="${product.code}">Code</td>
            <td th:text="${product.reservePrice}">Reserved price</td>
            <td th:text="${product.reservePrice}">Best offer</td>
            <td><a href="#" th:href="@{'/product/edit/' + ${product.id}}"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="#" th:href="@{'/product/delete/' + ${product.id}}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>

    </table>
</div>

</body>
</html>